@page
@model IndexModel
@{
    ViewData["Title"] = "The Cleaning Ladies - Home Page";
}
<!-- Banner Section -->
<div class = "bg-img"></div>
<div><img src = "images/bannerbg.png" width = "1500" height = "300"></div>
    <div class= "banner-section layout-padding">
        <div class = "container">
            <div class = "row">
                <div class = "column">
                    <h1 class = "slogan-line1">Keep your House Clean!</h1>
                    <p class = "banner-text">Need a clean house? Don't have the time within your busy schedule to clean?</p>
                    <div class = "button4"><a href="ScheduleAppointment">Find a Cleaner in your Area<span class = "find-cleaners-padding"><img src = "images/blackArrow.png"></span></a></div>
                </div>
                <div class = "column">
                    <div><img src = "images/cleaningLady.png" width = "400" class = "cleaningLadyIMG"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Banner Section -->
