/* _content/TheCleaningLadies/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-gk5beq68t9] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: #5ef079;
  
}

a[b-gk5beq68t9] {
  color: #4dce6d;
}

.btn-primary[b-gk5beq68t9] {
  color: #fff;
  background-color: #5ef079;
  border-color: #5ef079;
}

.nav-pills .nav-link.active[b-gk5beq68t9], .nav-pills .show > .nav-link[b-gk5beq68t9] {
  color: #5ef079;
  background-color: #5ef079;
  border-color: #5ef079;
}

.border-top[b-gk5beq68t9] {
  border-top: 1px solid #5ef079;
}
.border-bottom[b-gk5beq68t9] {
  border-bottom: 1px solid #5ef079;
}

.box-shadow[b-gk5beq68t9] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-gk5beq68t9] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-gk5beq68t9] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  color: white;
}
